:root {
    --black: #111;
    --white: #eee;
    --green: #22b573;
    --blue: #278dc1;
    --middle: #25a09b;
    --light: #7ce6e2;

    --btn-bg: rgb(218, 236, 230);
    --btn-txt: #538176;
    --btn-bg-h: rgb(198, 216, 210);
    --btn-txt-h: #4b9282;
    --btn-bg-a: #2b574c;
    --btn-txt-a: rgb(232, 248, 243);
}

h1 {
    color: var(--black);
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

input {
    margin: 0;
}

.gradient-stop-1 {
    stop-color: var(--green);
}

.gradient-stop-2 {
    stop-color: var(--blue);
}

.cls-1 {
    opacity: 0;
    fill: url(#linear-gradient);
}

.cls-2 {
    fill: white !important; /* can be removed for gradient */
    /* opacity: 0.76; */
}

.cls-3 {
    fill: white !important;
}
