:root {
    --black: rgb(24, 24, 24);
    --white: #eee;
    --green: #22b573;
    --blue: #278dc1;
    --middle: #25a09b;
    --light: #7ce6e2;

    --green-dark: #2f3d38;
    --blue-dark: #2f434d;
    --middle-dark: #293535;

    --btn-bg: rgb(218, 236, 230);
    --btn-txt: #538176;
    --btn-bg-h: rgb(198, 216, 210);
    --btn-txt-h: #4b9282;
    --btn-bg-a: #304948;
    --btn-txt-a: rgb(232, 248, 243);
}

h1 {
    color: var(--black);
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
    margin: 10px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);
    color: white;
    box-sizing: border-box;
}

main {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    box-sizing: border-box;
}

input {
    margin: 0;
}

.gradient-stop-1 {
    stop-color: var(--green);
}

.gradient-stop-2 {
    stop-color: var(--blue);
}

.cls-1 {
    opacity: 0;
    fill: url(#linear-gradient);
}

.cls-2 {
    fill: white !important; /* can be removed for gradient */
    /* opacity: 0.76; */
}

.cls-3 {
    fill: white !important;
}
